/* Button Animastions start*/
.buttonAnimationWhiteToUpsetMainDiv > div {
  height: 39.2px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  align-items: center;
}
.buttonAnimationWhiteToUpset a,
.buttonAnimationUpsetToWhite a {
  height: 39.2px;
  border: 1px solid white;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.buttonAnimationWhiteToUpsetP a {
  color: black;
  position: relative;
  z-index: 3;
  transition: all 0.4s ease;
}

.buttonAnimationWhiteToUpset {
  background-color: unset;
  z-index: 1;
}

.buttonAnimationWhiteToUpset .buttonAnimationWhiteToUpsetP a:hover {
  color: white;
}

.buttonAnimationWhiteToUpset > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  z-index: 2;
}

.buttonAnimationWhiteToUpset > div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  z-index: 2;
}
.buttonAnimationWhiteToUpset > div:hover::before {
  transform: scaleX(0);
}
.buttonAnimationWhiteToUpset > div:hover::after {
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.buttonAnimationUpsetToWhiteP a {
  color: white;
  position: relative;
  z-index: 3;
  transition: all 0.4s ease;
}

.buttonAnimationUpsetToWhiteP a:hover {
  color: black;
}
.buttonAnimationUpsetToWhite {
  background-color: unset;
  z-index: 1;
}
.buttonAnimationUpsetToWhite > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: 2;
}

.buttonAnimationUpsetToWhite > div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: 2;
}
.buttonAnimationUpsetToWhite > div:hover::before {
  transform: scaleX(1);
}
.buttonAnimationUpsetToWhite > div:hover::after {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
/* Button Animastions end*/

.dNoneAnimation {
  animation: animationMiddleDropdown 1s linear 0.3s 1 normal both running;
}
.dNoneAnimationLiUp--1 {
  animation: animationMiddleDropdownliUp 1s linear 0.35s 1 normal both running;
}
.dNoneAnimationLiUp--2 {
  animation: animationMiddleDropdownliUp 1s linear 0.4s 1 normal both running;
}
.dNoneAnimationLiUp--3 {
  animation: animationMiddleDropdownliUp 1s linear 0.45s 1 normal both running;
}
.dNoneAnimationLiUp--4 {
  animation: animationMiddleDropdownliUp 1s linear 0.5s 1 normal both running;
}
.dNoneAnimationLiUp--5 {
  animation: animationMiddleDropdownliUp 1s linear 0.55s 1 normal both running;
}

@keyframes animationMiddleDropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animationMiddleDropdownliUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.dNoneAnimationScale {
  animation: animationMiddleDropdownScale 0.5s linear 0.3s 1 normal both running,
    animationMiddleDropdownOpacity 0.3s linear 0s 1 normal both running;
}

@keyframes animationMiddleDropdownScale {
  0% {
    transform: translateZ(100);
  }
  100% {
    transform: translateZ(0px);
  }
}
@keyframes animationMiddleDropdownOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dNoneAnimationOpacity {
  animation: animationMiddleDropdownOpacity 0.3s linear 0s 1 normal both running;
}

@keyframes animationMiddleDropdownlileft {
  0% {
    opacity: 0;
    transform: translatex(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide-in-1 {
  animation: slide-in 0.2s linear 0.2s normal both running;
}

.slide-in-2 {
  animation: slide-in 0.2s linear 0.3s normal both running;
}

.slide-in-3 {
  animation: slide-in 0.2s linear 0.4s normal both running;
}

.slide-in-4 {
  animation: slide-in 0.2s linear 0.5s normal both running;
}

.slide-in-5 {
  animation: slide-in 0.2s linear 0.5s normal both running;
}

.slide-out {
  animation: slide-out 0.5s linear 0.2s normal both running;
}
.slide-back {
  animation: slide-outBack 1s linear 0.2s normal both running;
}

@keyframes slide-in {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-outBack {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.moveLeft{
  animation: slideLeft 0.5s linear 1 normal both running;
}
@keyframes slideLeft {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  25% {
      transform: translateX(-25%);
      opacity: 0;
  }
  50% {
      transform: translateX(+25%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
  }
}

.moveRight{
  animation: slideRight 0.5s linear 1 normal both running;
}
@keyframes slideRight {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  25% {
      transform: translateX(25%);
      opacity: 0;
  }
  50% {
      transform: translateX(-25%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
  }
}


